@import "../../App.scss";

.CarouselItem {
  @include media-breakpoint-up(md) {
    .cm-teaser-img {
      height: 100vh !important;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .cm-carousel-caption-text {
    font-family: $headings-font-family;
  }
}