/* COLOR */
$primary: #00B385;
$secondary: lightgrey;
$danger: #B32B00;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #333 !default;

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 600;
$body-color: $gray-700;
$font-size-base: 1rem; 
$font-size-sm: $font-size-base * .8;
$text-muted: $gray-500;

/* FORM */
$form-label-margin-bottom: .15rem;
$form-label-font-size: $font-size-sm;  
$form-label-color: $gray-500;

/* LINK */
$link-decoration: none;
$link-hover-decoration: underline;
$link-shade-percentage: 20%;
$btn-font-size: $font-size-sm;
$btn-padding-x: 1rem;

/* NAVBAR */
$nav-link-padding-y: 1rem;
$navbar-dark-active-color: $primary;
$navbar-dark-hover-color: $gray-300; 

/* GENERAL */
$border-radius: 0;

/* -------------------------------------------------- */

@import "bootstrap";

body {

  h2, .btn {
    text-transform: uppercase;
  }

  .cm-anchor {
    display: block;
    position: relative;
    top: -7.9rem;
    visibility: hidden;
  }
  
  .cm-link-danger {
    color: $danger;
    &:hover {
      color: shift-color($danger, $link-shade-percentage);
    }
  }
  
  @include media-breakpoint-down(sm) {
    .cm-btn-full-width-mobile {
      width: 100% !important;
    }
  }
}