@import '../../App.scss';

.FormSelectorButton {
    &:hover {
        cursor: pointer;
        color: $gray-600;
        transition: .25s;
    }

    .active {
        color: $primary;
    }

    @include media-breakpoint-down(sm) {
        padding: 0;
        .cm-icon {
            font-size: 2rem;
        }
    }
}