@import "../../App.scss";

.Teaser {
  background-color: black;

  @include media-breakpoint-down(sm) {
    margin-top: 4.8rem;
  }

  @include media-breakpoint-up(md) {
    .carousel-inner {
      height: 100vh;
    }
  }
  
}